<div id="header">
  <div class="item banner-big-screen"><img src="../assets/static/assets/banner1.webp"></div>
  <div class="item banner-small-screen"><img src="../assets/static/assets/banner1-movil.webp"></div>
</div>

<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center" id="products">
          <div class="col mb-5">
              <div id="product" class="card h-100 product">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent product-actions">
                  </div>
              </div>
          </div>
      </div>
    <div class="row p-2"><a id="more-btn" class="btn btn-outline-dark m-auto w-75 text-center fw-bold text-uppercase" onclick="more()">More</a></div>
  </div>
</section>

<script src="js/index.js"></script>
